<h1 style="font-family: 'Star Jedi', sans-serif;">{{product.title}}</h1>
<img src="{{product.thumbnail}}" alt="{{product.title}}" style="max-width: 300px;">
<p style="font-size: 18px;">{{product.description}}</p>
<p style="font-size: 18px;">Precio: ${{product.price}}</p>
<p style="font-size: 18px;">Categoría: {{product.category}}</p>
<p style="font-size: 18px;">Stock: {{product.stock}}</p>
<button id="add-to-cart-btn" data-product-id="{{product._id}}" style="background-color: #FFE81F; color: #000; border: none; padding: 10px 20px; font-size: 18px; cursor: pointer; border-radius: 5px; font-family: 'Star Jedi', sans-serif;">Agregar al Carrito</button>

<script>
    let cartId = null;

    fetch('/api/carts', { method: 'POST' })
        .then(response => response.json())
        .then(data => {
            cartId = data.cartId;
        });

    document.getElementById('add-to-cart-btn').addEventListener('click', function () {
        const productId = this.getAttribute('data-product-id');
        if (cartId) {
            // Si el carrito existe, agrega el producto
            fetch(`/api/carts/${cartId}/products/${productId}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ quantity: 1 }) // Añadir 1 producto
            })
                .then(response => response.json())
                .then(data => {
                    alert('Producto agregado al carrito');
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    });
</script>
